<!DOCTYPE html>
<html>
<head>
    <title>Update Password</title>
</head>
<body>
    <h2>Update User Password</h2>
    <form action="/update_user" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" required><br><br>

        <label for="password">New Password:</label>
        <input type="password" name="password" required><br><br>

        <input type="submit" value="Update Password">
    </form>
    <br>
    <a href="/">Back to Home</a>
</body>
</html>
